Xcursor*theme: ComixCursors-Green

emacs.FontBackend: xft
emacs.useXIM: true
! Emacs.font: Bitstream Vera Sans Mono
Xft.dpi:96
Xft.antialias: true
Xft.hinting: true
! Fix uxrvt excessive space between characters
! https://unix.stackexchange.com/questions/118641/font-rendering-issue-in-urxvt-too-much-space-between-characters
Xft.hintstyle: hintfull
Xft.rgba: none


! urxvt
!! RXVT-unicode setting
URxvt.geometry:             80x36+80+80
URxvt.background:           black
URxvt.foreground:           white
URxvt.scrollBar:            False
URxvt.scrollstyle:          next
! Use shift+pageup/down to scroll in screen
URxvt.secondaryScroll:  True
!set the artificial transparency of the v.t.
!URxvt.inheritPixmap:        True
URxvt.tintColor:            gray
URxvt.shading:              500
URxvt.saveLines:            1500
URxvt.preeditType:          Root
URxvt.borderLess:           False

urxvt*depth: 32
urxvt*background: rgba:0000/0000/0200/c800
!URxvt.title:                
!italicFont and boldItalicFont undefined

!URxvt.font:-*-terminus-medium-r-*-*-14-*-*-*-*-*-*-*,\
!URxvt.font:xft:Liberation Mono:size=10:antialias=True
!,xft:wenquanyi bitmap song:medium:pixelsize=14

!URxvt.font: xft:monaco:size=10:antialias=True,\
!xft:wenquanyi bitmap song:medium:pixelsize=14:antialias=False

!URxvt.font:-*-profont-medium-r-*-*-15-*-*-*-*-*-*-*,\
!xft:wenquanyi bitmap song:medium:pixelsize=14


!URxvt.font:xft:monofur:size=11:antialias=True,\
!xft:wenquanyi bitmap song:medium:pixelsize=14:antialias=False
!URxvt.boldFont:-*-fixed-terminus-r-*-*-13-*-*-*-*-*-*-*,\
!xft:wenquanyi bitmap song:bold:pixelsize=13:antialias=False
!URxvt.font:xft:terminus:medium:size=13:antialias=false,\
!xft:wenquanyi bitmap song:medium:pixelsize=13:antialias=False
!URxvt.font:xft:Inconsolata:size=10
!URxvt.font:xft:Monaco:size=9
!:antialias=False
!URxvt.font:xft:Monospace:style=Regular:size=11:antialias=True
URxvt.font:xft:Fira Code Retina:style=Light:size=11:antialias=True,\
xft:Noto Sans CJK SC:style=Regular:size=11:antialias=True
!redefine color to use tango theme in vim
!Black
!URxvt.color0:           #000000
!URxvt.color8:           #555753
!!Red
URxvt.color1:           #CC0000
URxvt.color9:           #EF2929
!!Green
URxvt.color2:           #4E9A06
URxvt.color10:          #8AE234
!!Yellow
URxvt.color3:           #C4A000
URxvt.color11:          #FCE94F
!!Blue
URxvt.color4:           #3465A4
URxvt.color12:          #729FCF
!!Magenta
URxvt.color5:           #75507B
URxvt.color13:          #AD7FA8
!!Cyan
URxvt.color6:           #06989A
URxvt.color14:          #34E2E2
!!White
!URxvt.color7:           #D3D7CF
!URxvt.color15:          #EEEEEC

!!introduced by urxvt-perl and urxvt-fullscreen
URxvt.perl-ext-common:      default,tabbed,matcher,url-select,keyboard-select,fullscreen
URxvt.keysym.F11: perl:fullscreen:switch
URxvt.matcher.button:       1
URxvt.url-select.launcher:  firefox
!URxvt.url-select.underline: true
!URxvt.keysym.M-u:           perl:url-select:select_next
!URxvt.keysym.M-Escape:      perl:keyboard-select:activate
!URxvt.keysym.M-s:           perl:keyboard-select:search
!!clipboard
!URxvt.keysym.M-c:   perl:clipboard:copy
!URxvt.keysym.M-v:   perl:clipboard:paste
!URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
