[ActionPlugins][1]
RightButton;NoModifier=org.kde.latte.contextmenu

[LayoutSettings]
activities=
background=
color=red
disableBordersForMaximizedWindows=false
lastUsedActivity=f214706e-d727-4ea3-868d-85fdabf88b37
launchers=
showInMenu=true
textColor=fcfcfc
version=2
