[Unit]
Description=Local system resume actions
After=suspend.target

[Service]
Type=oneshot
ExecStart=/usr/bin/ip link set enp0s26f7u2 up
ExecStart=/mnt/net/mount.sh

[Install]
WantedBy=suspend.target
